In [1]:
import pandas as pd
from IPython.display import display

In [57]:
import pandas as pd
def analyze_results(log_file,output_file):
    # Get the data from the formatted csv
    data = pd.read_csv(log_file, sep=' ')
    # Rename runtime to Runtime (seconds)
    data = data.rename(columns={'runtime':'Runtime (seconds)'})
    # Create the ExcelWriter to send the information to xlsx
    writer = pd.ExcelWriter(output_file)
    
    # Loop over the choices for ending time (tFinal)
    for time in data.tFinal.unique():
        # Loop over the choices for the Reynolds number (Re)
        for Re in data.Re.unique():
            # Get the information for a single pair of time and Re
            df = data[data.tFinal.eq(time) & data.Re.eq(Re)].reset_index(drop=True)
            # Get the reduction in error from the increase  in spatial/temporal resolution
            df['uReduction'] = df['uErr'].shift(1)/df['uErr']
            df['pReduction'] = df['pErr'].shift(1)/df['pErr']
            # Write results to a sheet in output_file
            sheetname = 'tFinal='+str(time)+', Re='+str(Re)
            df.to_excel(writer,
                       sheet_name=sheetname,
                       index=False,
                       columns=['Re','nx','nt',
                                    'uErr','uReduction',
                                   'pErr','pReduction',
                                   'Runtime (seconds)'],)
            workbook = writer.book
            format_all = workbook.add_format()
            format_all.set_align('center')
            sheet = writer.sheets[sheetname]
            width = 18
            sheet.set_column('A:I',width,format_all)
            # Specify uReduction, pReduction, and Runtime (seconds) to having only 2 decimal places
            format_decimals = workbook.add_format()
            format_decimals.set_align('center')
            format_decimals.set_num_format('0.00')            
            sheet.set_column('E:E',width,format_decimals)
            sheet.set_column('G:G',width,format_decimals)
            sheet.set_column('H:H',width,format_decimals)
            display(df)
    
    writer.save()
    writer.close()

In [58]:
# This block is for the Viento Verification
FP_dir = '/home/sirush/PhDResearch/MMS_Transient_Channel/ForwardProblem/Log_Files/'
viento_verification_log = 'log_Viento_verification_short.txt'
viento_verification_output = 'Viento_Verification.xlsx'
analyze_results(log_file=(FP_dir+viento_verification_log),output_file=(FP_dir+viento_verification_output))

,tFinal,Re,nx,nt,uErr,pErr,Runtime (seconds),uReduction,pReduction
0,1,1,8,8,0.000909,0.008098,4.5470,NaN,NaN
1,1,1,16,16,0.000128,0.002580,22.5298,7.095900,3.138642
2,1,1,32,32,0.000017,0.001626,211.2960,7.512753,1.586635
3,1,1,64,64,0.000003,0.014545,2562.7800,6.253745,0.111807
4,1,1,128,128,0.000002,0.084767,30695.0000,1.167789,0.171590

,tFinal,Re,nx,nt,uErr,pErr,Runtime (seconds),uReduction,pReduction
0,1,2,8,8,0.000954,0.004310,4.68752,NaN,NaN
1,1,2,16,16,0.000130,0.001294,23.76740,7.320193,3.330382
2,1,2,32,32,0.000018,0.000902,190.91500,7.435227,1.434514
3,1,2,64,64,0.000003,0.002435,2123.17000,6.922132,0.370516
4,1,2,128,128,0.000004,0.130219,24562.20000,0.700245,0.018700

,tFinal,Re,nx,nt,uErr,pErr,Runtime (seconds),uReduction,pReduction
0,1,4,8,8,0.001066,0.002457,5.86747,NaN,NaN
1,1,4,16,16,0.000133,0.000651,22.60930,8.009048,3.774124
2,1,4,32,32,0.000019,0.000335,172.95000,7.060347,1.942654
3,1,4,64,64,0.000003,0.002791,1831.06000,5.885597,0.120047
4,1,4,128,128,0.000002,0.058231,20224.00000,1.762822,0.047930

,tFinal,Re,nx,nt,uErr,pErr,Runtime (seconds),uReduction,pReduction
0,1,8,8,8,0.001406,0.001621,6.23322,NaN,NaN
1,1,8,16,16,0.000140,0.000331,21.60710,10.050314,4.892808
2,1,8,32,32,0.000023,0.000345,157.50700,6.173157,0.961349
3,1,8,64,64,0.000005,0.002898,1568.93000,4.697512,0.118909
4,1,8,128,128,0.000002,0.043096,16909.50000,2.806837,0.067234

,tFinal,Re,nx,nt,uErr,pErr,Runtime (seconds),uReduction,pReduction
0,1,16,8,8,0.001990,0.001216,6.6074,NaN,NaN
1,1,16,16,16,0.000161,0.000181,21.9353,12.389924,6.736929
2,1,16,32,32,0.000031,0.000130,151.3400,5.117930,1.383482
3,1,16,64,64,0.000008,0.000709,1409.6200,3.982554,0.183918
4,1,16,128,128,0.000002,0.004335,14423.6000,3.875227,0.163638

,tFinal,Re,nx,nt,uErr,pErr,Runtime (seconds),uReduction,pReduction
0,1,32,8,8,0.002461,0.000918,6.6044,NaN,NaN
1,1,32,16,16,0.000212,0.000129,24.5544,11.598145,7.117555
2,1,32,32,32,0.000047,0.000028,143.3850,4.485847,4.667323
3,1,32,64,64,0.000013,0.000431,1294.4200,3.751541,0.064127
4,1,32,128,128,0.000003,0.002890,12586.1000,3.889247,0.149141

,tFinal,Re,nx,nt,uErr,pErr,Runtime (seconds),uReduction,pReduction
0,1,64,8,8,0.002686,0.000976,7.0290,NaN,NaN
1,1,64,16,16,0.000333,0.000125,25.5662,8.056236,7.810055
2,1,64,32,32,0.000074,0.000020,138.8150,4.499673,6.329204
3,1,64,64,64,0.000019,0.000312,1207.5800,3.901085,0.063288
4,1,64,128,128,0.000005,0.022025,11768.5000,3.908291,0.014169

,tFinal,Re,nx,nt,uErr,pErr,Runtime (seconds),uReduction,pReduction
0,1,128,8,8,0.003308,0.001406,8.96338,NaN,NaN
1,1,128,16,16,0.000587,0.000128,28.05120,5.633078,10.999515
2,1,128,32,32,0.000119,0.000017,133.47000,4.936243,7.710666
3,1,128,64,64,0.000026,0.000832,1144.06000,4.529252,0.019915
4,1,128,128,128,0.000006,0.018292,11620.60000,4.111263,0.045503